<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>🔒⚡ Self Decrypt ⚡🔒</title>
    REPLACE_WITH_STYLES
  </head>
  <body>
    <h1>🔒⚡ Decrypt Your File ⚡🔒</h1>
    <p>Enter the password to decrypt and download the file: <strong>REPLACE_WITH_ORIGINAL_FILENAME</strong></p>
    <input type="password" id="decryptPassword" placeholder="Enter Password to Decrypt">
    <button id="decryptButton">Decrypt File</button>

    <script>
      REPLACE_WITH_SCRIPT_BUNDLE
      // placeholders replaced at encrypted file generation time
      window.base64Ciphertext = 'REPLACE_WITH_ENCRYPTED_DATA'
      window.originalFilename = 'REPLACE_WITH_ORIGINAL_FILENAME'
    </script>
  </body>
</html>